
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.custom .link{
    font-size: 18px;
    margin-right: 15px;
    margin-bottom: 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}
.link:hover{
    color: rgb(20, 128, 182);
}   
.activeLink{
    color: rgb(28, 129, 252) !important;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(28, 129, 252);
}

@media only screen and (max-width: 1201px){
    .activeLink{
        border-bottom: 0;
    }
}