@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
.banner{
    background-image: url('../../../../../public/images/banner2.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.4);
    background-blend-mode: overlay;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
    clip-path: polygon(83% 100%,100% 91%,100% 0,100% 0,0 0,0 87%);
}
.logo{
    color: red;
}
.main-title h1{
    font-size: 50px;
    font-family: 'Aclonica', sans-serif;
    color: rgb(255, 255, 255);
}
.sub-title h6{
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgb(85, 218, 255);
}

.common-btn{
    position: relative;
    overflow: hidden;

    padding: 7px 25px;
    margin: 0 20px;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: rgb(67, 67, 67);
    overflow: hidden;
    border: 0;
    clip-path: polygon(0 0, 89% 0, 100% 100%, 11% 100%);
    background-color: transparent;
}
.common-btn::before{
    content: "";
    clip-path: polygon(0 0, 89% 0, 100% 100%, 11% 100%);;
    background-color: rgb(31, 166, 250);
    
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    z-index: -1;

    transition: transform .2s ease-in;
    transform-origin: left;
    transform: scaleX(0);
}
.common-btn:hover::before{
    transform: scaleX(1);
}
.common-btn{
    transition: color .2s ease-in;
    z-index: 1;
}
.common-btn:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .banner{
        clip-path: polygon(79% 100%,100% 94%,100% 0,100% 0,0 0,0 92%);
        padding: 400px 10px;
    }
    .main-title h1{
        font-size: 40px;
    }
}