.contact-page{
    padding: 120px 0px 100px 0;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    clip-path: polygon(15% 99%,100% 85%,100% 0,100% 0,0 0,0 90%);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif; 
    
}
.contact-img{
    display: flex;
    justify-content: end;
    align-items: center;
}