.card{
    padding: 10px 5px;
    width: 90%;
    border: 0;
    box-shadow: 5px 5px 20px rgb(205, 204, 204);
}
.card-title{
    font-size: 24px;
    font-weight: 700;
    color: rgb(4, 49, 112);
}
.card h6{
    margin: 20px 0;
    font-size: large;
}
.card-text{
    color: rgb(101, 101, 101);
    height: 100px;
    text-align: justify;
}
.info-icon{
    color: rgb(31, 166, 250);
    margin-right: 5px;
}