.login-page{
    background-image: url("../../../public/images/banner.jpg");
    padding: 50px 0px 85px 0;
    background-color: rgba(0,0,0,.4);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    clip-path: polygon(15% 99%,100% 85%,100% 0,100% 0,0 0,0 90%);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}
.user-form input{
    border: none;
    border-bottom: 1px solid rgb(189, 189, 189);
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}
.user-form{
    width: 340px;
    margin: 0 0 0 200px ;
    margin-top: 70px;
    padding: 20px 20px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.user-form .submit-btn{
    width: 100%;
    font-size: 20px;
    padding: 10px 0px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,42,75,1) 100%);    
}
.user-form .submit-btn:hover{
    background: linear-gradient(90deg,  rgba(0, 21, 38, 0.971) 0%, rgba(2,0,36,1) 100%);
}
.pass-reset{
    color: rgb(4, 4, 89);
    cursor: pointer;
}
.error{
    color: rgb(232, 52, 12);
    font-size: 18px;
}
.line{
    width: 35%;
    padding: 1px 0;
}
@media screen and (min-width: 1020) {
    .user-form{
        margin: 0 auto;
    }
}