*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.service-icon{
    background-color: rgb(229, 229, 229);
    clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%);
    width: 30%;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    transition:  .4s;
}
.service-icon:hover{
    background-color: rgb(17, 160, 248);
    color: white;
}
.service-icon .icon{
    transition: transform .5s;
}
.service-icon:hover .icon{
    transform: scale(1.3);
}
.service-info{
    font-family: 'Poppins', sans-serif;
    width: 70%;
}
.service-info h5{
    color: rgb(17, 160, 248);
    font-weight: bold;
}
.service-info p{
    margin: 0;
    font-size: small;
    color: rgb(0, 0, 0);
}