.inventory-page{
    margin-top: 100px;
}
.flex-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.inventory-img{
    
}
.inventory-name{}
.inventory-form{
}